
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #333333;
}

.uppy-DragDrop-container {
    background-color: transparent !important;
    width: 100%;
    text-align: center;

    .uppy-DragDrop-browse {
        color: #EEEEEE;
    }

    .uppy-DragDrop-label {
        color: #EEEEEE;
    }
}  

